*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
  font-size: 62,5%;
}

body{
  text-align: center;
  overflow-x: hidden;
}

header{
  font-size: 16.rem;
}


header{
  padding: 50px;
  height: 190px;
  width: 100%;
}

#menu-h{
  list-style: none;
  padding: 0;
  z-index: 2;
}


.center{
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px,
  margin:0 auto;
  padding: 0px;
}

.logo{
  /* width: 50%; */
  position: absolute;
  /* left: -130px; */
  top: 30px;
  padding-left: 0;
}

:root{
  -cor-fundo: #000000;
  -cor-hover:#6e6e6e;
  -cor-primaria:#ffffff;
}

.login{
  align-items: center;
  display: flex;
}

.menu-dropdown ul{
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu-dropdown ul{
  background-color: #000000;
  position: absolute;
  left: 0;
  right: 0;
}

.menu-dropdown ul li{
  display: inline;
  position: relative;

}

.menu-dropdown ul li a{
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

.menu-dropdown ul li a:hover{
  background-color: #6e6e6e;
  transition: 2s;
}

/*sub menu*/
.menu-dropdown ul ul{
  display: none;
  left: 0;
  position: absolute;
}

.menu-dropdown ul li:hover ul{
  display: block;
}

.menu-dropdown ul ul{
  width: 150px;
}

.menu-dropdown ul ul li a{
  display: block;
}

/*main*/
main{
  background: #333;
}

/*slide*/

.img-slider{
  position: relative;
  width: 1920px;
  height: 400px;
  /* margin: 10px; */
  background: #1D212B;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info{
    padding: 10px 25px;
  }

  .img-slider .slide .info h2{
    font-size: 35px;
  }

  .img-slider .slide .info p{
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide .info h2{
    font-size: 30px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px){
  .img-slider{
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
}





/*principal*/
.container-main{
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}


/*footer*/
footer{
  color: #ffffff;
  border-top: 2px solid white ;
  width: 100%;
}

.container-footer{
  display: flex;
  list-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-around;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.container-footer ul{
  line-height: 25px;
}

.container-footer li h1{
  padding-bottom: 15px;
  font-family: 'Source Sans Pro', sans-serif;

}


.container-footer a{
  color: #ffffff;
  text-decoration: none;

}

/*.minilogo{
  width: 100%;
  height: 55px;
}*/

.container-sociais{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 200px;
}

.container-sociais a{
  display: flex;
  border-radius: 8px;
  display: block;
}

.twitter{
  padding-top: 10px;
  width: 40px;
  height: 40px;
}

.facebook{
  padding-top: 8px;
  width: 40px;
  height: 40px;
}

.instagram{
  padding-top: 8px;
  width: 20px;
  height: 40px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}


.btn-1{
  font-family: 'Source Sans Pro', sans-serif;
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 32px;
  color: white;
  background-color: rgba(255, 0, 68);
  box-shadow: inset 0 0 0 0 #010212;
  transition: ease-out 0.3s;
  font-size: 1.3rem

}

.btn-1:hover{
  box-shadow: inset 200px 0 0 0 #010212;
  cursor: pointer;
}


.pé{
  background: #000000;
  display: flex;
  list-style: none;
  padding-top: 3px;
  padding-bottom: 6px;
  justify-content: space-around;
  text-align: center;

}

.pé{
  font-size: 10px;

}

#body{
  margin: 0;
  padding: 0;
  /*min-height: 100vh;*/
  /* background-color: #333; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

img{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media only screen and (max-width:1000px){
.container{
  width: 300px;

}
}

.container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .card{
  position: relative;
  cursor: pointer;
}

.container .card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;

}

.container .card .face.face1{
  position: relative;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform:  translateY(100px);
}

.container .card:hover .face.face1{
  background-color: #ff0057;
  transform: translateY(0);

}

.container .card  .face.face1 .content{
 opacity: 0.2s;
 transition: 0.5s;
}

.container .card:hover .face.face1 .content{
  opacity: 1;
}
/* .container .card:hover .face.face1 .content img{
  max-width: 100px;
} */

.container .card:hover .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}



.container .card .face.face2{
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow:  0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p{
 margin: 0;
 padding: 0;

}

h3{
   display: none;
}

.container .card .face.face2 a{
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;

}

.container .card .face.face2 a:hover{
  background-color: #333;
  color: #fff;
}

.container .imagens{
  display: flex;
  justify-content: space-between;
}

@media  {
  .face1{
    max-height: 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px){
  html{
    font-size: 60%;

  }

#body{
  display: flex;
  flex-direction: column;
}

.img-slider{
  height: 80px;
  width: 100%;
}

.container-main{
  display: flex;
  flex-direction: column;
}

.logo img{
  display: flex;
  width: 300px;
  padding-right: 50px;
  padding-top: 30px;
}

footer{
  font-size: 60%;;
  width: 100%;
  height: 100%;
}

footer img{
  width: 100%;
  height: 100%;
}


.container-footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container-footer li{
  font-size: 1rem;
}

.sobre{
  padding-top: 30px;
}

.parcerias{
  padding-bottom: 30px;
}


}

@media (max-width: 692px) {

}

@media (max-width: 606) {

}
